{
	"presets": [
		"@babel/preset-typescript",
		["@babel/preset-env", {
			"modules": false,
			"useBuiltIns": "entry",
			"corejs": 3
		}],
		"@babel/preset-react"
	],
	"plugins": [
		"babel-plugin-macros",
		["styled-components", {
			"pure": true,
        	"displayName": false,
        	"fileName": false
		}],
		"@babel/transform-runtime",
		"@babel/transform-react-jsx",
		"@babel/syntax-dynamic-import"
	]
}
