<!DOCTYPE html>
<html lang="en">
	<head>
		<title>omame's website</title>
		<meta name="description" content="I'm omame - a programmer, freelancer and a FOSS enthusiast.">
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>
